.navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    background-color: lightslategray;
    padding: 20px;
    
}
a{
    text-decoration: none;
}

*{
    margin: 0px;
    padding: 0px;
}

.navbar a{
    color: aliceblue;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    

}
.footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    background-color: palevioletred;
    padding: 20px;
}
.footer a{
    color: aliceblue;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;   
}