.hero img{
    width: 100%;
    height: 670px;
}
.card-img{
    height: 400px;
    width: 400px;

}
.maincard{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    
}
.card-content{
    background-color: antiquewhite;
    padding: 20px;

}
.cards{
    justify-items: center;
    border: 1px solid black;
    border-radius: 1%;
    /* background-color: black; */
}
.cards img{
    height: 300px;
    width: 300px;
}
